body {
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: dimgray 1px solid;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    background-color: #6f7071;
}

.form-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7px;
}

.form-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

.form-label{
    font-size: 1rem;
    font-weight: 500;
    margin-right: 10px;
    text-align: left;
}

.form-control{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    background-color: #1a1a1a;
    color: #fff;
    transition: border-color 0.25s;
}

.clear-button{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #959595;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 10px;
  margin-right: 10px;
}

.clear-button:hover {
    background-color: #454545;
    border-color: #646cff;
}
.clear-button:focus,
.clear-button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.submit-button{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 10px;
    color: #fff;
}

.submit-button:hover {
    border-color: #646cff;
}
.submit-button:focus,
.submit-button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}